<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905890597702-9cg6215lk9e718m5ka60g41ujk10fqtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905890597702-9cg6215lk9e718m5ka60g41ujk10fqtv</string>
	<key>API_KEY</key>
	<string>AIzaSyD2UGKXJQRneLJo9-6gHeJF1v1gou6ZtCY</string>
	<key>GCM_SENDER_ID</key>
	<string>905890597702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreymomot.CVMaker</string>
	<key>PROJECT_ID</key>
	<string>cvmaker-947cd</string>
	<key>STORAGE_BUCKET</key>
	<string>cvmaker-947cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905890597702:ios:c9386d65ac6128c467b347</string>
	<key>DATABASE_URL</key>
	<string>https://cvmaker-947cd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>